@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.search-weather {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;

  input.search-input {
    border: none;
    width: 250px;
    height: 32px;
    border-radius: 6px;
    padding: 2px 8px;
  }

  input.input-submit {
    background: #79ffd5 url("../public/ion_search-outline.svg") no-repeat scroll center;
    background-size: 24px 24px;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }
}

.weather-data {
  display: flex;
  gap: 10px;
}