.title, .containers {
    width: fit-content;
    height: fit-content;
}

.temp-data {
    display: flex;
    background-color: rgba(237, 237, 237, 0.2);
    padding: 10px;
    
    img {
        height: 120px;
        width: 120px;
    }
}