.temp-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    min-width: 130px;
    height: fit-content;

    .container {
        width: fit-content;
    }

    &:first-child {
        box-shadow: 0 4px 20px 4px rgb(140 140 140 / 20%), 0 6px 20px 4px rgb(60 60 60 / 20%);
        border-radius: 6px;
        padding: 10px 15px;
        width: 140px;
        backdrop-filter: blur(5px);

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1.title {
                font-size: 48px;
                font-weight: 800;
                margin: 5px 0;
            }

            .feels-like {
                display: inherit;
            }
        }
    }

    h1.title {
        margin: 0;
    }
}