.location-info {
    .status-block {
        display: flex;
        flex-direction: column;

        img {
            width: 80px;
            height: auto;
        }

        .location-time-info {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-top: -4px;

            h1.title {
                margin: 0;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .main-status {
        font-size: 28px;
        margin: -6px 0 0;
    }

    .time-temp {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        .time {
            display: flex;
            align-items: center;
            gap: 4px;

            p {
                margin: 0;
            }
        }

        .main-temp {
            font-size: 48px;
            font-weight: 800;
            margin: -5px 0 0;
        }
    }
}